@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Alice&family=Noto+Serif&family=Walter+Turncoat&display=swap');
@font-face {
  font-family: "Pokoljaro";
  src: url("../assets/fonts/Pokoljaro.otf") format("opentype");
}
@font-face {
  font-family: "Agathodaimon";
  src: url("../assets/fonts/AGATHODA.TTF") format("truetype");
}