// CY colors
$aqua: #71C5C9;
$cream: #F6EDDB;
$magenta: #F800F8;
$near-black: #1C1E23;
$yellow: #F8F800;
$disabled-color: gray;

// Fomoria colors
// $off-white: #FFFBF3; or F9F3E3
$off-white: #F8F4E3;
$soft-gray: #575A3F;

$border-radius: 0px;

$widget-margin: 5px;
$field-height: 30px;
$tab-height: 30px;
$tab-width: 50px;
$sheet-padding: 11px;

$tab-height: 30px;
$border-width: 1px;

$portrait-size: 200px;

$button-font: "Amaranth";
$input-number-font: "Pokoljaro";
$input-text-font: "Pokoljaro";
$name-font: "Pokoljaro";
$label-font: "Walter Turncoat";
$primary-font: "Noto Serif";
$sheet-font: "Noto Serif";
$tab-font: "Pokoljaro";
$textarea-font: "Noto Serif";
$textarea-line-height: 16px;


:root {
  --fo-accent-color: #71C5C9;
  --fo-background-color: #FFFBF3;
  --fo-border-blur: 5px;
  --fo-button-foreground-color: #F800F8;
  --fo-button-background-color: #F800F833;
  --fo-cybertext-color: #F8F800;
  --fo-disabled-color: gray;
  --fo-foreground-color: #575A3F;
  --fo-highlight-color: #F800F8;
  --fo-sheet-shadow: none;
  --fo-window-background-color: #FFFBF3;;
}