<form class="dialog attack-dialog">
  <input type="hidden" name="item-id" value="{{itemId}}" />
  <div class="form-row">
    <label>{{localize 'FO.Attack'}} {{localize 'FO.DR'}}</label>
    <input
      type="number"
      name="attack-base-dr"
      value="{{attackDR}}"
      placeholder="12"
      data-dtype="Number"
    />
  </div>
  <div class="form-row">
    <label>{{localize 'FO.Modified'}} {{localize 'FO.DR'}}:</label>
    <input
      type="text"
      class="readonly"
      name="attack-modified-dr"
      value=""
      placeholder="12"
      readonly
    />
  </div>  
  {{# if drModifiers}}
  <div class="form-row">
    <label>&nbsp;</label>
    <div class="field-value">
      ( {{#each drModifiers}} {{this}} {{#unless @last}},{{/unless}} {{/each}} )
    </div>
  </div>
  {{/if}}  
  <div class="form-row">
    <label>{{localize 'FO.TargetArmor'}}:</label>
    <input
      type="text"
      name="target-armor"
      value="{{targetArmor}}"
      placeholder="1d2"
      data-dtype="String"
    />
  </div>
  <div class="button-row">
    <button class="dialog-button attack-button" type="submit" name="Attack">{{ localize "FO.Attack" }}</button>
  </div>
</form>