<div class="abilities-wrapper">
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="strength" title="{{ localize 'FO.Strength' }}">
        <div class="ability-label">{{ localize 'FO.StrengthAbbrev' }}</div>
      </a>
    </div>
    <div class="ability-score">
      <input class="strength" type="number" name="system.abilities.strength.value" value="{{data.system.abilities.strength.value}}" />
    </div>
  </div>        
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="agility" title="{{ localize 'FO.Agility' }}">
        <div class="ability-label">{{ localize 'FO.AgilityAbbrev' }}</div>        
      </a>
    </div>
    <div class="ability-score">
      <input class="strength" type="number" name="system.abilities.agility.value" value="{{data.system.abilities.agility.value}}" />
    </div>
  </div>        
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="presence" title="{{ localize 'FO.Presence' }}">
        <div class="ability-label">{{ localize 'FO.PresenceAbbrev' }}</div>
      </a>
    </div>
    <div class="ability-score">
      <input class="presence" type="number" name="system.abilities.presence.value" value="{{data.system.abilities.presence.value}}" />
    </div>
  </div>        
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="toughness" title="{{ localize 'FO.Toughness' }}">
        <div class="ability-label">{{ localize 'FO.ToughnessAbbrev' }}</div>        
      </a>
    </div>
    <div class="ability-score">
      <input class="toughness" type="number" name="system.abilities.toughness.value" value="{{data.system.abilities.toughness.value}}" />
    </div>
  </div>        
  <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="occult" title="{{ localize 'FO.Occult' }}">
        <div class="ability-label">{{ localize 'FO.OccultAbbrev' }}</div>
      </a>
    </div>
    <div class="ability-score">
      <input class="occult" type="number" name="system.abilities.occult.value" value="{{data.system.abilities.occult.value}}" />
    </div>
  </div>


  <!-- <div class="widget ability-row">
    <div class="ability-icon">
      <a class="ability-link" data-ability="threads" title="{{ localize 'FO.Threads' }}">
        <img src="systems/fomoria/assets/images/ui/icon_threads.png" />
      </a>
    </div>
    <div class="ability-score">
      <input class="threads" type="number" name="system.threads.value" value="{{data.system.threads.value}}" />
    </div>
  </div>
  <div class="widget ability-row silver-row">
    <div class="silver-label">
      CREDITS
    </div>
    <div class="silver-input">
      <input class="silver" type="number" name="system.silver" value="{{data.system.silver}}" />
    </div>
  </div>  
-->
</div>