<form class="{{cssClass}}" autocomplete="off">
  <div class="big-col">
    <div class="sheet-header">
      <div class="header-grid">
        <div class="portrait-cell">
          <div class="widget portrait">
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>          
          </div>
        </div>
        <div class="name-fields-cell">
          <div class="name">
            <input class="character-name" type="text" name="name" value="{{actor.name}}" placeholder="{{ localize 'FO.Name' }}" spellcheck="false"/>          
          </div>
          <div class="cols">
            <div class="col">
              {{> systems/fomoria/templates/actor/hit-points.html}}
              <div class="widget header-widget threads-widget">
                <div class="header-widget-label">
                  {{localize 'FO.Threads'}}
                </div>
                <div class="header-widget-value">
                  <input class="threads" type="number" name="system.threads.value" value="{{data.system.threads.value}}" />
                </div>
              </div>
            <!-- <div class="header-button-row">
              <button type="button" class="sheet-button big-button level-up-button">{{ localize "FO.LevelUp" }}</button>
              <button type="button" class="sheet-button big-button reboot-button">{{ localize "FO.Reroll" }}</button>
            </div> -->

            </div>
            <div class="col">
              {{> systems/fomoria/templates/actor/stability-points.html}}
              <div class="widget header-widget wyrd-widget">
                <div class="header-widget-label">
                  {{localize 'FO.Wyrd'}}
                </div>
                <div class="header-widget-value">
                  <input class="threads" type="number" name="system.wyrd.value" value="{{data.system.wyrd.value}}" />
                </div>
              </div>                
            </div>
          </div>
          <div class="light-hours-row">
            <div class="label">{{localize 'FO.HoursOfLight'}}</div>
            <div class="light-bullets">
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
              <div class="light-bullet light-bullet-1">◇</div>
            </div>
          </div>

        </div>
        <div class="abilities-cell">
          {{> systems/fomoria/templates/actor/abilities.html}}
        </div>
      </div>
    </div>

    <div class="body-section">
      <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="background">
          <div class="tab-label">{{localize 'FO.Background'}}</div>
        </a>
        <a class="item" data-tab="combat">
          <div class="tab-label">{{localize 'FO.Combat'}}</div>
        </a>
        <a class="item" data-tab="special">
          <div class="tab-label">{{localize 'FO.Special'}}</div>          
        </a>
        <a class="item" data-tab="gear">
          <div class="tab-label">{{localize 'FO.Gear'}}</div>          
        </a>
      </nav>
      
      <div class="sheet-body">
        {{> systems/fomoria/templates/actor/background-tab.html}}
        {{> systems/fomoria/templates/actor/combat-tab.html}}
        {{> systems/fomoria/templates/actor/special-tab.html}}
        {{> systems/fomoria/templates/actor/gear-tab.html}}
      </div>      
    </div>
  </div>

</form>

