


.fomoria.sheet.actor.character {
  section.window-content {
    // TODO: clean up padding for the whole sheet and columns etc
    // seems like it was already set for left/top, but not right? 
    // maybe for scroll-bar futzing
    padding-right: 10px;
    overflow: hidden;
    .widget-row {
      display: flex;
      .widget {
        flex: 1;
        margin-right: 4px;
      }
      .widget:last-child {
        margin-right: 0px;
      }
    }
    .sheet-header {
      display: flex;
      width: 100%;
      .header-widget-row {
        display: flex;        
        height: 40px;
        justify-content: space-between;
        width: 100%;
        .field-label {
          flex: 0 0 80px;
        }
        .field-input {     
          display: flex;
          flex: 1;
          input[type="number"] {
            width: 50px;
          }
        }        
      }
      .left-col {
        display: flex;
        flex-direction: column;
        flex: 0 0 $portrait-size;
        margin-right: $widget-margin;
        .portrait {
          display: flex;
          flex: 0 0 $portrait-size;
          height: $portrait-size;
          justify-content: center;
          margin-bottom: $widget-margin;
          img {
            height: 100%;
            width: auto;
          }
        } 
      }
      .center-col {
        display: flex;
        flex: 1;
        flex-direction: column;
        .name {
          height: 56px;
          margin-bottom: $widget-margin;
          input[type="text"] {
            font-family: $name-font;
            font-size: 40px;
          }
        }        
      }   
      .right-col {
        display: flex;
        flex: 0 0 88px;
        flex-direction: column;
      }
    }    
    .sheet-header {
      flex-direction: column;
      margin-bottom: 4px;
      .header-cols {
        display: flex;
        flex: 1;
      }
      .header-button-row {
        display: flex;
        flex: 0 0 36px;
        justify-content: space-between;
        margin-bottom: $border-width;
        width: 100%;
      }
      .center-col {
        .folk-row {
          align-items: center;
          display: flex;
          flex: 0 0 $field-height;
          gap: 10px;
          justify-content: space-around;
          margin-bottom: $widget-margin;
          width: 100%;
          .folk-name {
            flex: 1;
            font-family: $name-font;
            font-size: 24px;
            padding-left: 40px;
            padding-bottom: 5px;
            text-align: center;
          }
          .item-controls {
            display: flex;
            justify-content: space-around;
            flex: 0 0 40px;
          }
          .clan {
            margin-left: 5px;
            .clan-input {
              text-align: center;
            }
          }
        }
      }
      .right-col {
        margin-left: 5px;
        width: 90px;
        .abilities-wrapper {
          display: flex;
          flex: 0 0 100px;
          flex-direction: column;
        }
        .ability-row {
          display: flex;
          flex: 0 0 37px;
          margin-bottom: $widget-margin;
          .ability-label{
            align-items: center;
            background-color: var(--fo-foreground-color);
            border-right: 1px solid var(--fo-foreground-color);
            display: flex;
            flex: 1;
            justify-content: center;
            a {
              display: flex;
              flex-direction: column;
              justify-content: center;
              img {
                border: none;
                height: 28px;
                width: 28px;
              }  
              .ability-label {
                color: var(--fo-background-color);
                font-family: $label-font;
                font-size: 16px;
              }
            }
          }
          .ability-score {
            flex: 1;
          }
        }
      }  
    }
    .sheet-body {
      height: calc(100% - 33px);
    }
  }
}