.fomoria.sheet.actor.character {
  section.window-content {
    // TODO: clean up padding for the whole sheet and columns etc
    // seems like it was already set for left/top, but not right? 
    // maybe for scroll-bar futzing
    padding-right: 10px;
    overflow: hidden;

    .widget-row {
      display: flex;
      gap: 10px;
      justify-content: center;
      // .widget {
      //   flex: 1;
      //   margin-right: 4px;
      // }
      // .widget:last-child {
      //   margin-right: 0px;
      // }
      margin-bottom: 10px;

      button.sheet-button.medium-button.rest-button {
        width: 100px;
      }
    }
    .sheet-header {
      flex-direction: column;
      height: 180px;
      margin-bottom: 10px;
      width: 100%;

      .header-grid {
        display: grid;
        grid-template-columns: 180px 1fr 120px;
        grid-template-rows: 200px;
        width: 100%;
        .portrait-cell {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
        }
        .name-fields-cell {
          display: flex;
          flex-direction: column;
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
          padding-left: 5px;
          padding-right: 5px;
          .cols {
            gap: 10px;
            .col {
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
            .left {
              align-items: end;
            }
          }

          .hp-widget {
            width: 174px;
          }
          
          .sp-widget {
            width: 174px;
          }

          .threads-widget {
            border-radius: 2px;
            width: 134px;
            input {
              background-color: var(--fo-foreground-color);
              color: var(--fo-background-color);
            }
          }

          .wyrd-widget {
            border-radius: 2px;
            width: 115px;
            input {
              background-color: var(--fo-foreground-color);
              color: var(--fo-background-color);
            }
          }
        }
        .abilities-cell {
          grid-column-start: 3;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 3;
        }
      }

      .portrait {
        display: flex;
        flex: 0 0 180px;
        height: 180px;
        justify-content: center;
        img {
          height: 100%;
          width: auto;
        }
      } 

      .name {
        height: 56px;
        margin-bottom: $widget-margin;
        input[type="text"] {
          font-family: $name-font;
          font-size: 40px;
        }
      }  

      .header-button-row {
        display: flex;
        flex: 0 0 36px;
        justify-content: space-between;
        margin-bottom: $border-width;
        width: 100%;
      }

      .abilities-wrapper {
        display: flex;
        flex: 0 0 100px;
        flex-direction: column;
      }

      .ability-row {
        display: flex;
        flex: 0 0 30px;
        margin-bottom: $widget-margin;
        .ability-label{
          align-items: center;
          background-color: var(--fo-foreground-color);
          // border-right: 1px solid var(--fo-foreground-color);
          display: flex;
          flex: 1;
          justify-content: center;
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
              border: none;
              height: 28px;
              width: 28px;
            }  
            .ability-label {
              color: var(--fo-background-color);
              font-family: $label-font;
              font-size: 16px;
            }
          }
        }
        .ability-score {
          align-items: center;
          flex: 1;
          display: flex;
          input[type="number"] {
            flex: 0 0 40px;
            height: 30px;
            font-family: $number-font;
            font-size: 22px;
            font-weight: bold;
            padding-bottom: 0px;
          }
          .ability-modifier {
            color: var(--fo-highlight-color);
            flex: 0 0 35px;
            font-family: "Amaranth";
            font-size: 22px;
            font-weight: bold;
            height: 30px;
            text-align: right;
            line-height: 30px;
          }
        }
      }

      .hours-of-light-row {
        display: flex;
        justify-content: center;

        .label {
          font-family: $label-font;
          font-size: 20px;
          font-weight: bold;
          margin-right: 15px;
        }

        ul.light-bullets {
          list-style-type: none;
          margin: 0;
          margin-top: 3px;
          padding: 0;
          float: left;

          li {
            float: left;
          }

          label {
            display: block;
            padding: 4px;
            position: relative;
            padding-left: 17px;
            transform: rotate(-45deg);

            input[type="radio"] {
              display: none;
            }


            span {
              border: 1px solid var(--fo-foreground-color);
              width: 17px;
              height: 17px;
              position: absolute;
              overflow: hidden;
              // line-height: 1.5;
              text-align: center;
              // border-radius: 100%;
              font-size: 8pt;
              left: 0;
              top: 50%;
              transform: rotate(45deg);
            }
          }

          input.light + span {
            background: var(--fo-background-color);
            color: var(--fo-foreground-color);
          }

          input.dark + span {
            background: var(--fo-foreground-color);
            color: var(--fo-background-color);
          }

          input[type="radio"]:checked + span {
            // background: var(--fo-background-color);
            // color: var(--fo-foreground-color);
            background: var(--fo-background-color);
            // border: 2px solid var(--fo-flame-color);
            // border-radius: 100%;
            box-shadow:1px 1px 2px 2px #FFAAAA, -1px -1px 2px 2px #FFAAAA;
            color: var(--fo-foreground-color);
            // background: var(--fo-foreground-color);
            // color: var(--fo-background-color);
            // border: 1px solid red;
            // border-width: 2px;
          }

        }
      }
    }    
    .sheet-body {
      height: calc(100% - 33px);
    }
  }
}