.gear-tab {
  .cols {
    gap: 10px;
    .col {
      flex: 1;
    }
  }
  .gear-row {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  .gear-value {
    font-family: $input-text-font;
    width: 100px;
  }
  .silver {
    display: flex;
    height: 28px;
    .silver-value {
      height: 28px;
      input[type="number"] {
        font-size: 24px;
        width: 90px !important;
      }
    }
    margin-right: 5px;
  }
  .carrying {
    display: flex;
    .carrying-value {
      font-family: $number-font;
      font-weight: bold;
      font-size: 22px;
    }  
    .encumbered {
      color: var(--fo-highlight-color);
    }  
  }
  button.add-item-button {
    width: 100px;
  }
  .add-item-row {
    // flex: 1;
    padding-left: 5px;
  }

  .equipment.item-list {
    column-gap: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;

    .equipment-row {
      align-items: center;
      margin-bottom: 5px;
      width: 100%;
      
      .item {
          .item-name {
              font-size: 20px;
              font-weight: bold;
          }
      }    
    }
  }
}