.gear-tab {
  .carrying-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    .silver {
      flex: 1;
      // height: $field-height;
      height: 28px;
      .silver-value {
        // padding-bottom: 2px;
        // padding-top: 5px;
        height: 28px;
      }
      margin-right: 5px;
    }
    .carrying {
      flex: 1;
      .carrying-value {
        padding-bottom: 2px;
        padding-top: 5px;
      }  
      .encumbered {
        color: var(--fo-highlight-color);
      }  
    }
    .add-item-row {
      flex: 1;
      padding-left: 5px;
    }
  }
  .equipment-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: 100%;
    overflow: hidden;
  }
  .equipment.item-list {
    column-gap: 20px;
    display: grid;
    flex: 1;
    // grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 50px);
    // min-height: 60px;
    row-gap: 5px;
    overflow: auto;

    .equipment-row {
      align-items: center;
      height: 30px;
      border: 1px solid red;
      
      .item {
          .item-name {
              font-size: 20px;
              font-weight: bold;
          }
      }    
    }
  }
}