.gear-tab {
  .carrying-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    .silver {
      flex: 1;
      // height: $field-height;
      height: 28px;
      .silver-value {
        // padding-bottom: 2px;
        // padding-top: 5px;
        height: 28px;
      }
      margin-right: 5px;
    }
    .carrying {
      flex: 1;
      .carrying-value {
        padding-bottom: 2px;
        padding-top: 5px;
      }  
      .encumbered {
        color: var(--fo-highlight-color);
      }  
    }
    .add-item-row {
      flex: 1;
      padding-left: 5px;
      // padding-right: 10px;
    }
  }
  .equipment-wrapper {
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    width: 100%;
    overflow: hidden;
  }
  .equipment.item-list, .cybertech.item-list {
    overflow: auto;
    display: grid;
    column-gap: 20px;
    min-height: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 50px);
    row-gap: calc($border-width * 2);
  }
  .equipment.item-list {
    flex: 1;
  }
}