.special-tab {
    padding-left: 10px;
    padding-right: 10px;
    .cols {
        gap: 10px;
    }
    .col-title {
        // background-color: var(--fo-foreground-color);
        // color: var(--fo-background-color);
        font-family: $button-font;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        // text-align: center;;
        // border-bottom: 1px solid var(--fo-background-color);
        // border-bottom: 1px solid black;
        text-decoration: underline;
    }
    .no-boons {
        margin-left: 10px;
        margin-top: 20px;
    }
    .item {
        .item-name {
            font-size: 20px;
            font-weight: bold;
        }
    }
}