.special-tab {
    padding-left: 10px;
    padding-right: 10px;
    .cols {
        gap: 10px;
    }
    .no-boons {
        margin-left: 10px;
        margin-top: 20px;
    }
    .item-row {
        margin-bottom: 5px;
    }
    .item {
        .item-name {
            font-size: 20px;
            font-weight: bold;
        }
    }
}