.fomoria.sheet section.window-content .violence-tab {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

  .initiative-row {
    display: flex;
    justify-content: center;
    margin-bottom: calc($widget-margin * 2);
    width: 100%;
    button.sheet-button {
      width: 120px;
    }
  }

  .violence-grid {
    gap: 20px;
    height: 100%;
    width: 100%;

    .main-hand-cell {
      height: 80px;
    }
    .off-hand-cell {
      height: 80px;
    }
    .expertise-cell {
      min-height: 80px;
    }
    .weaponfeats-cell {
      min-height: 80px;
    }
  }

  .item-list {
    .item-row {
      align-items: start;
      margin-bottom: 10px;
    }
  }

  .armor {
    .tier-label {
      float: left;
      font-size: 20;
      padding-top: 4px;
      margin-right: 10px;
    }

    ul.tiers {
      float: left;
      list-style-type: none;
      margin: 0;
      margin-top: 3px;
      padding: 0;

      li {
        float: left;
        height: 45px;
      }

      label {
        display: block;
        padding: 4px;
        position: relative;
        padding-left: 32px;
      }

      input[type="radio"] {
        display: none;
        &:checked {
          + span.tier-num {
            box-shadow: 1px 1px 3px 3px #FFAAAA, -1px -1px 3px 3px #FFAAAA;
          }
        }
        &:disabled {
          + span.tier-num {
            opacity: 0;
            color: #444444;
            border: 1px solid #444444;
          }
          ~ span.tier-dmg {
            opacity: 0;
            color: #444444;
          }
        }
      }

      input[type="radio"][data-marker]:enabled {
          + span.tier-num {
            background-color: var(--fo-foreground-color);
            color: var(--fo-background-color);
            opacity: 0.5;
          }
          ~ span.tier-dmg {
            opacity: 0.5;
          }
      }

      span {
        &.tier-num {
          border: 1px solid #7a7971;
          width: 24px;
          height: 24px;
          position: absolute;
          overflow: hidden;
          line-height: 1.5;
          text-align: center;
          border-radius: 100%;
          // font-size: 14pt;
          // font-family: $input-number-font;
          left: 0;
          top: 0;
        }

        &.tier-dmg {
          width: 30px;
          height: 15px;
          position: absolute;
          overflow: hidden;
          // line-height: 1;
          text-align: center;
          // font-family: var(--item-font);
          // font-size: 10pt;
          font-size: 10pt;
          left: -5px;
          top: 30px;
        }
      }
    }
  }

  .defend-button-row {
    display: flex;
    justify-content: space-around;
    display: flex;
    button.sheet-button.defend-button {
      width: 100px;
    }
  }

  .expertise-level-row {
    display: flex;
    justify-content: center;
    margin-right: 10px;

    ul.expertise-level-bullets {
      list-style-type: none;
      margin: 0;
      padding: 0;
      float: left;

      li {
        float: left;
      }

      label {
        display: block;
        padding: 4px;
        position: relative;
        padding-left: 12px;
        transform: rotate(-45deg);

        input[type="radio"] {
          display: none;
        }

        span {
          border: 1px solid var(--fo-foreground-color);
          width: 14px;
          height: 14px;
          position: absolute;
          overflow: hidden;
          line-height: 1.4;  // for vertically-centered the text
          text-align: center;
          border-radius: 100%;
          font-size: 7pt;
          left: 0;
          top: 50%;
          transform: rotate(45deg);
        }
      }

      input[type="radio"]:checked + span {
        background: var(--fo-foreground-color);
        color: var(--fo-background-color);
      }
    }
  }
}