<form class="roll-card attack-roll-card">
  <div class="card-title">
    {{cardTitle}}
  </div>
  <div class="attack-roll">
    <div class="roll-title">
      <span>
        {{attackFormula}} {{localize 'FO.Vs'}} {{localize 'FO.DR'}}{{attackDR}}
      </span>
    </div>
    <div class="roll-result">
      <span>{{xtotal attackRoll}}</span>
    </div>
  </div>
  <div class="outcome-text">
    <span class="attack-outcome">{{attackOutcome}}</span>
  </div>
  {{#if damageRoll}}
  <div class="damage-roll">
    <div class="roll-title">
      <span>{{localize 'FO.Damage'}}: {{damageRoll._formula}}</span>
    </div>
    <div class="roll-result">
      <span>{{xtotal damageRoll}}</span>
    </div>
  </div>
  {{/if}} 
  {{#if targetArmorRoll}}
  <div class="target-armor-roll">
    <div class="roll-title">
      <span>{{localize 'FO.TargetArmor'}}: {{targetArmorRoll.formula}}</span>
    </div>
    <div class="roll-result">
      <span>{{xtotal targetArmorRoll}}</span>
    </div>
  </div>
  {{/if}} 
  {{#if takeDamage}}
  <div class="outcome-text">
    <span class="take-damage">{{takeDamage}}</span>
  </div>
  {{/if}}
</form>
