<form class="{{cssClass}}" autocomplete="off">
  {{> systems/fomoria/templates/item/item-sheet-header.hbs itemType='YOUR TYPE HERE'}}
  {{> systems/fomoria/templates/item/item-sheet-tabs.hbs }}
  <div class="sheet-body">
    {{> systems/fomoria/templates/item/item-description-tab.hbs }}
    <div class="tab data-tab" data-group="primary" data-tab="details">
      <div class="fields">
        {{> systems/fomoria/templates/item/item-base-fields.hbs }} 
      </div>
    </div>      
  </div>
</form>